In [1]:
import pandas as pd

In [2]:
rpkm = pd.read_table("/home/ecwheele/cshl2017/segerstolpe_palasantza2016/data/01_subset_metadata/pancreas_rpkm_792cells_clean.txt",
                    index_col=0)
rpkm.head()

,1,HP1504901_A10,HP1504901_A16,HP1504901_A21,HP1504901_A3,HP1504901_A5,HP1504901_B10,HP1504901_B11,HP1504901_B20,HP1504901_B22,...,HP1526901T2D_H17,HP1526901T2D_H19,HP1526901T2D_H6,HP1526901T2D_I14,HP1526901T2D_I15,HP1526901T2D_I16,HP1526901T2D_I21,HP1526901T2D_I4,HP1526901T2D_I6,HP1526901T2D_I7
0,,,,,,,,,,,,,,,,,,,,,
SGIP1,NM_032291,0.0,0.00000,0.00000,0.0,129.975704,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
AZIN2,NM_052998+NM_001293562,0.0,0.00000,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,55.163083,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
CLIC4,NM_013943,0.0,1.26208,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,44.743017,7.190192,0.000000,13.841086,0.000000
AGBL4,NM_032785,0.0,0.00000,0.00000,0.0,0.000000,0.0,0.000000,0.0,60.275883,...,0.0,0.000000,0.000000,8.175471,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NECAP2,NM_001145277+NM_001145278+NM_018090,0.0,0.00000,25.50194,0.0,0.000000,0.0,1.572534,0.0,4.993097,...,0.0,5.427924,0.000000,74.649316,46.920391,0.000000,0.000000,23.097636,0.000000,20.835349

In [4]:
expressed_genes = pd.read_excel("/home/ecwheele/cshl2017/segerstolpe_palasantza2016/data/00_original/mmc2.xlsx",
                               sheetname = 'ExpressedGenes_Celltypes', skiprows = 4, skipcols=2)
expressed_genes.head()

,Rank,Unnamed: 1,Î±-cells,Î²-cells,Î³-cells,Î´-cells,Îµ-cells,co-expression,unclass endocrine,acinar cells,ductal cells,MHC class II,mast cells,PSCs,endothelial cells,unclass exocrine
0,1,NaN,'GCG','INS','PPY','SST','GHRL','INS','INS','REG1A','B2M','FTL','TPSB2','TIMP1','B2M','FTL'
1,2,NaN,'TTR','FTL','TTR','RBP4','TTR','SST','SST','PRSS1','SPP1','B2M','TPSD1','B2M','PLVAP','B2M'
2,3,NaN,'B2M','RBP4','MALAT1','B2M','B2M','GCG','PPY','REG3A','LCN2','CD74','TPSAB1','FTL','TMSB10','PSAP'
3,4,NaN,'CHGB','IAPP','FTL','INS','SPINK1','TTR','GCG','CLPS','TMSB10','TMSB10','FTL','INS','FTL','TMSB10'
4,5,NaN,'FTL','B2M','B2M','FTL','FTL','FTL','TTR','REG1B','FTL','FTH1','S100A4','TMSB10','MMP1','SPP1'

In [6]:
#Only going to keep top expressed genes in the cells we are interested in. 
#First make a list of cells we are interested in (these are our column names)

cells_to_keep = ['Î±-cells','Î²-cells','Î³-cells','Î´-cells','Îµ-cells','unclass endocrine']

#Subset the expressed genes matrix for only those columns with a square bracket after
#the dataframe name
expressed_genes_endocrine = expressed_genes[cells_to_keep]
print(expressed_genes_endocrine.shape)
expressed_genes_endocrine.head()

(26179, 6)

  Î±-cells Î²-cells   Î³-cells Î´-cells   Îµ-cells unclass endocrine
0   'GCG'   'INS'     'PPY'   'SST'    'GHRL'             'INS'
1   'TTR'   'FTL'     'TTR'  'RBP4'     'TTR'             'SST'
2   'B2M'  'RBP4'  'MALAT1'   'B2M'     'B2M'             'PPY'
3  'CHGB'  'IAPP'     'FTL'   'INS'  'SPINK1'             'GCG'
4   'FTL'   'B2M'     'B2M'   'FTL'     'FTL'             'TTR'

In [33]:
#Make a list of genes to keep. We want to keep the top 500 genes in each dataframe. 

genes_to_keep = []

#We are going to loop through each of the columns with a for loop
for i in expressed_genes_endocrine.columns:
    #Slice that column in the dataframe to grab the first 500 rows
    genes = expressed_genes_endocrine[i][:500]
    #Get rid of the extra quotation around the gene names 
    genes = [x.strip("'") for x in genes]
    #Extend our master list with the new genes that we have identified.
    genes_to_keep.extend(genes)
    
print(len(genes_to_keep))

#Use a set object to get a unique list. Set will drop duplicates in the list.
unique_genes = set(genes_to_keep)
print(len(unique_genes))

3000
869

In [34]:
#Now only keep genes in the counts matrix that were ones that we identified above. 
#Since gene ID is stored as the row name, we are going to access those rows with .loc
#followed by the list of genes names we want

rpkm_filtered = rpkm.loc[unique_genes]
print(rpkm_filtered.shape)
rpkm_filtered.head()

(870, 793)

,1,HP1504901_A10,HP1504901_A16,HP1504901_A21,HP1504901_A3,HP1504901_A5,HP1504901_B10,HP1504901_B11,HP1504901_B20,HP1504901_B22,...,HP1526901T2D_H17,HP1526901T2D_H19,HP1526901T2D_H6,HP1526901T2D_I14,HP1526901T2D_I15,HP1526901T2D_I16,HP1526901T2D_I21,HP1526901T2D_I4,HP1526901T2D_I6,HP1526901T2D_I7
0,,,,,,,,,,,,,,,,,,,,,
ANAPC5,NM_001137559+NM_016237,2.323741,0.000000,0.000000,0.000000,120.189303,248.672709,183.256849,121.564581,8.422731,...,14.073396,25.818307,230.778250,28.802589,16.070953,153.516487,24.290524,62.472569,60.786885,98.412411
ARPC5,NM_005717+NM_001270439,222.671380,2.694302,80.059966,342.528437,276.293709,54.017396,108.713826,892.888959,223.454514,...,53.636574,5.438377,44.976727,105.852078,116.322907,192.528130,99.773007,166.078731,106.373109,46.883715
CPE,NM_001873,1188.343207,260.442860,1111.808258,866.992494,2472.985616,782.743247,470.380091,1529.062254,691.139843,...,1721.693393,919.969910,1481.860350,1177.146602,2675.237775,440.464987,3392.094702,1270.476835,1519.623977,968.274497
CFB,NM_001710,2.000590,0.000000,0.000000,0.000000,2.299449,0.000000,1.245696,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.022669,1.076293,0.000000,0.000000
MDH1,NM_005917+NM_001199112+NM_001199111,348.300929,627.904851,763.774177,1208.612568,602.479826,493.018835,964.125482,621.656226,647.710182,...,321.984526,74.117514,250.760548,379.354728,136.084941,372.226339,46.161625,389.605438,38.659133,108.767494

In [35]:
#Since we are using gene names, lets drop that gene ID column. 

#use axis=1 to say we are dropping from the columns and inplace=True to replace 
#rpkm_filtered with the new 

rpkm_filtered.drop('1', axis=1, inplace=True)
rpkm_filtered.head()

,HP1504901_A10,HP1504901_A16,HP1504901_A21,HP1504901_A3,HP1504901_A5,HP1504901_B10,HP1504901_B11,HP1504901_B20,HP1504901_B22,HP1504901_B23,...,HP1526901T2D_H17,HP1526901T2D_H19,HP1526901T2D_H6,HP1526901T2D_I14,HP1526901T2D_I15,HP1526901T2D_I16,HP1526901T2D_I21,HP1526901T2D_I4,HP1526901T2D_I6,HP1526901T2D_I7
0,,,,,,,,,,,,,,,,,,,,,
ANAPC5,2.323741,0.000000,0.000000,0.000000,120.189303,248.672709,183.256849,121.564581,8.422731,0.000000,...,14.073396,25.818307,230.778250,28.802589,16.070953,153.516487,24.290524,62.472569,60.786885,98.412411
ARPC5,222.671380,2.694302,80.059966,342.528437,276.293709,54.017396,108.713826,892.888959,223.454514,1.786573,...,53.636574,5.438377,44.976727,105.852078,116.322907,192.528130,99.773007,166.078731,106.373109,46.883715
CPE,1188.343207,260.442860,1111.808258,866.992494,2472.985616,782.743247,470.380091,1529.062254,691.139843,1788.111027,...,1721.693393,919.969910,1481.860350,1177.146602,2675.237775,440.464987,3392.094702,1270.476835,1519.623977,968.274497
CFB,2.000590,0.000000,0.000000,0.000000,2.299449,0.000000,1.245696,0.000000,0.000000,1.412529,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.022669,1.076293,0.000000,0.000000
MDH1,348.300929,627.904851,763.774177,1208.612568,602.479826,493.018835,964.125482,621.656226,647.710182,754.803715,...,321.984526,74.117514,250.760548,379.354728,136.084941,372.226339,46.161625,389.605438,38.659133,108.767494

In [36]:
rpkm_filtered.to_csv("/home/ecwheele/cshl2017/segerstolpe_palasantza2016/data/01_subset_metadata/rpkm_filter_cells_and_genes.txt",
                    sep="\t", encoding = 'utf-8')